#picture-me, #picture-kittens {
    margin: 0 2rem 1rem 2rem;
    width: 25rem;
}

.image {
    width: 2rem;
}

.contact-info {
    margin-left: -5rem;
}

.social-media {
    display: block;
    margin-bottom: 1.5rem;
}

.list-contact {
    list-style-type: none;
}

.paragraph {
    padding: 0;
}

.list-contact > li {
    margin-left: -2rem;
}

.list-contact > li > a:focus,
.list-contact > li > a:hover {
    font-weight: 600;
} 

#tiktok-logo {
    width: 2.1rem;
}

#github-logo {
    width: 2.15rem;
}

.social-media:focus {
    text-decoration: underline;
}

@media only screen and (min-device-width : 1200px) {
    .contact-info {
        margin-left: 5rem;
    }
    
    .list-contact {
        columns: 3;
    }

    .list-contact > li {
        margin: auto;
    }

    .contact-info-kitten {
        margin-top: 16rem;
    }
}