#picture-me, #picture-kittens {
    margin: 0 2rem 1rem 2rem;
    width: 25rem;
}

#picture-kittens {
    margin-top: 2.5rem;
}

.image {
    width: 2rem;
}

.social-media {
    display: block;
    margin-bottom: 1.5rem;
}

.list-contact {
    list-style-type: none;
}

.paragraph {
    padding: 0;
}

.list-contact > li {
    margin-left: -2rem;
}

#tiktok-logo {
    width: 2.1rem;
}

#github-logo {
    width: 2.15rem;
}

a:focus {
    text-decoration: underline;
}

@media only screen and (min-device-width: 768px) {
    #picture-kittens {
        margin-top: 2rem;
    }
}

@media only screen and (min-device-width : 1200px) {
    .contact-info {
        margin-left: 5rem;
    }
    
    .list-contact {
        columns: 3;
    }

    .list-contact > li {
        margin: auto;
    }

    .contact-info-kitten {
        margin-top: 16rem;
    }

    #picture-kittens {
        margin-top: 0;
    }
}