.index-body {
    margin-top: 1rem;
}

.img-container, .slide {
    font-family: 'Work Sans', sans-serif;
}

#picture-map {
    margin: 2rem 5rem 0 5rem;
    width: 50rem;
}

.image-container {
    display: block;
}

.state-pin, .slide-subheader {
    color: #580000;
    position: relative;
}

.state-pin {
    font-size: 2.25rem;
}

.slide-subheader {
    font-size: 2.10rem;
}

.slide-container {
    margin: -7rem 0 0 7rem;
    position: absolute;
    width: 43rem;
}

.slide-subheader, .pin {
    display: inline-block;
}

.texas {
    left: 5rem;
    top: -18rem;
}

.indiana {
    left: 9rem;
    top: -22.5rem;
}

.spain {
    left: 8.5rem;
    top: -23.25rem;
}

.colombia {
    left: 17.5rem;
    top: -20rem;
    white-space: nowrap;
}

.button-scroll {
    position: relative;
    top: 10rem;
}

.button-left {
    left: 1rem;
}

.button-right {
    left: 52rem;
}

.col-md-6 {
    max-width: 100% !important;
}

@media only screen and (min-device-width : 321px) {
    /* good */
}

@media only screen and (min-device-width : 375px) {
    /* good */
}

@media only screen and (min-device-width : 414px) {
    /* good */
}

@media only screen and (min-device-width : 768px) {
    #picture-map {
        width: 60rem;
        margin: 2rem 5rem 0 0;
    }

    .slide-container {
        width: 50rem;
    }

    .texas {
        left: 2.25rem;
        top: -22rem;
    }
    
    .indiana {
        left: 6.75rem;
        top: -25.75rem;
    }
    
    .spain {
        left: 8.25rem;
        top: -26.75rem;
    }
    
    .colombia {
        left: 15.5rem;
        top: -22rem;
    }

    .button-scroll {
        top: 10rem;
    }

    .button-left {
        left: 3rem;
    }

    .button-right {
        left: 55rem;
    }
}


@media only screen and (min-device-width : 991px) {
    .colombia {
        left: 15rem;
        top: -22rem;
    } 
}


@media only screen and (min-device-width : 1200px) {
    .slide-container {
        margin: 0 0 0 2.5rem;
        padding-right: 1rem;
        width: 32rem;
    }

    .paragraph {
        margin: 0 0 1rem 2.5rem;
    }

    #picture-map {
        width: 38rem;
    }

    .state-pin {
        font-size: 1.75rem;
    }
    
    .slide-subheader {
        font-size: 1.5rem;
    }

    .texas {
        left: .25rem;
        top: -13.5rem;
    }
    
    .indiana {
        left: 3rem;
        top: -17rem;
    }
    
    .spain {
        left: 2.5rem;
        top: -17.5rem;
    }
    
    .colombia {
        left: 9.5rem;
        top: -15.5rem;
    }

    .button-left {
        left: 1rem;
    }

    .button-right {
        left: 32rem;
    }
}

@media only screen and (min-device-width : 1350px) {
    .button-right {
        left: 50rem;
    }

    #picture-map {
        margin-right: 50rem;
    }

    .slide-container {
        width: 48rem;
    }

    .colombia {
        left: -23rem;
        top: -13rem;
    }
}