header {
    color: #580000;
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .25rem;
    text-transform: lowercase;
}

.nav {
    border-bottom: double .25rem #696969;
    border-top: double .25rem #696969;
    color: whitesmoke;
    text-transform: uppercase;
}

.nav-item {
    width: 20rem;
}

.nav-link {
    text-align: center;
}

.nav-link:focus,
.nav-link:hover {
    background-color: #580000;
    color: whitesmoke;
}

.active {
    font-weight: 700;
}

.page-header {
    margin: 1rem 3rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.button:hover,
.button:focus {
    background-color: #580000;
    outline: .1rem solid #580000;
    color: whitesmoke;
}

a, a:hover, a:focus {
    color: #580000;
}

a:focus {
    outline: .1rem #580000;
}

.image-container {
    display: block;
}

.slide-header {
    margin-bottom: .5rem;
    text-decoration: underline;
}

.page-header, .nav-item > a, .slide-header {
    font-size: 2.25rem;
}

.page-header, .highlight, .slide-header, .state {
    color: #580000;
}

.page-header, .slide-header, .state-pin, .city-text {
    font-weight: 700;
}

.paragraph {
    color: #696969;
    display: block;
    margin: 0 0 1rem 3rem;
}

@media only screen and (min-device-width : 321px) {
    /* good */
}

@media only screen and (min-device-width : 375px) {
    /* good */
}

@media only screen and (min-device-width : 414px) {
    /* good */
}

@media only screen and (min-device-width : 768px) {
    /* good */
}

@media only screen and (min-device-width : 991px) {
    /* good */   
}

@media only screen and (min-device-width : 1200px) {
    header {
        font-size: 3.5rem;
    }

    body {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
    }

    .page-header, .nav-item > a, .slide-header {
        font-size: 1.75rem;
    }
}