.slide-header {
    margin: 1rem 3rem 1rem 1rem;
}

ul {
    color: #696969;
}

.projects {
    margin: 0 0 0 3rem;
    max-width:  90%;
}

.list-right {
    margin-left: -5rem;
}

.social-media-text {
    margin-right: 1rem;
}