ul {
    color: #696969;
}

.projects {
    margin: 0 0 0 3rem;
    max-width:  90%;
}

.list-right {
    margin-left: -5rem;
}

.social-media-text {
    margin-right: 1rem;
}

@media only screen and (min-device-width : 1200px) { 
    .list-projects {
        columns: 2;
    }
}